:root {
  --primary-color: #917758;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/***** HOME *****/

.home {
  position: relative;
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  height: 100vh; /* View port height */
}

.header {
  padding: 30px 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.logo {
  margin: 0 30px;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 22px;
}

a:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/***** HOME-BANNER *****/

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 270px;
  width: 770px;
  color: white;
  text-align: center;
  margin-left: -385px;
  margin-top: -75px;
}

.banner span {
  display: block;
}

.slogan {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.sub-slogan {
  margin-bottom: 22px;
}

.title {
  font-size: 100px;
}
