:root {
  --primary-color: #917758;
  --secondary-color: #3c2915;
  --primary-color-light: #f5eee6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/***** HOME *****/

.home {
  position: relative;
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  height: 100vh; /* View port height */
}

.header {
  padding: 30px 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.logo {
  margin: 0 30px;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 22px;
}

a:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/***** HOME-BANNER *****/

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 270px;
  width: 770px;
  color: white;
  text-align: center;
  margin-left: -385px;
  margin-top: -75px;
}

.banner span {
  display: block;
}

.slogan {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.sub-slogan {
  margin-bottom: 22px;
}

.title {
  font-size: 100px;
}

/***** ABOUT *****/

.about {
  background: var(--primary-color);
}

.about .container {
  display: flex;
}

.timing {
  position: relative;
  top: -50px;
  width: 33%;
  background-image: url(../images/brush-big.jpg);
  background-size: cover;
  padding: 22px;
}

.about .timing .text {
  margin: 10px 0;
}

.about .timing .text:after {
  content: "•";
  color: white;
  display: block;
  font-size: 25px;
  margin: 10px;
}

.about .timing .text:last-of-type:after {
  content: "|";
}

.timing h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
  margin: 0 auto 30px auto;
  font-size: 30px;
}

.about .timing .text h4 {
  color: gray;
  font-weight: 400;
  font-size: 15px;
}

.about .timing span {
  color: white;
  font-size: 15px;
  display: block;
}

.icon-cut {
  width: 50px;
}

.experience {
  width: 66%;
  color: white;
  margin-left: 7%;
  margin-top: 100px;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 40px 20px;
}

.experience h2 {
  font-weight: 400;
  font-size: 40px;
}

.experience h2:after {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #a38f78;
  margin: 22px 0;
}

.experience .text {
  display: flex;
  justify-content: space-between;
}

.experience p {
  margin-bottom: 22px;
  font-weight: 100;
  font-size: 17px;
}

/***** SERVICES *****/

.services {
  background-color: var(--primary-color-light);
  padding: 100px 0;
  text-align: center;
}

.services h2 {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.box {
  border: 3px solid var(--primary-color);
  padding: 50px 30px;
  margin: 30px;
}

.box h4 {
  color: var(--secondary-color);
  margin-top: 30px;
}

.box p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 30px;
}

/***** APPOINTMENT *****/

.appointment {
  padding: 100px 0;
  background-color: var(--primary-color);
  background-image: url(../images/chair-ic.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
  height: 100vh;
}

.appointment h2 {
  color: var(--primary-color-light);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.appointment img {
  margin: 0 auto;
  display: block;
}

.appointment form {
  margin-top: 80px;
}

.personal-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.personal-data .input-wrapper {
  width: 100%;
  margin-right: 50px;
}

.personal-data .input-wrapper:last-of-type {
  margin-right: 0;
}

.appointment label {
  display: block;
  color: var(--primary-color-light);
  margin-bottom: 2px;
  font-size: 14px;
}

.personal-data input,
.personal-data select,
.appointment textarea {
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 3px;
}

.appointment textarea {
  height: 150px;
}

.appointment button {
  background-color: var(--secondary-color);
  color: var(--primary-color-light);
  padding: 8px 22px;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
