:root {
  --primary-color: #917758;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/***** HOME *****/

.home {
  position: relative;
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  height: 100vh; /* View port height */
}

.header {
  padding: 30px 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.logo {
  margin: 0 30px;
}

a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 22px;
}

a:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/***** HOME-BANNER *****/

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 270px;
  width: 770px;
  color: white;
  text-align: center;
  margin-left: -385px;
  margin-top: -75px;
}

.banner span {
  display: block;
}

.slogan {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.sub-slogan {
  margin-bottom: 22px;
}

.title {
  font-size: 100px;
}

/***** ABOUT *****/

.about {
  height: 100vh;
  background: var(--primary-color);
}

.about .container {
  display: flex;
}

.about .timing .text {
  margin: 10px 0;
}

.about .timing .text:after {
  content: "•";
  color: white;
  display: block;
  font-size: 25px;
  margin: 10px;
}

.about .timing .text:last-of-type:after {
  content: "|";
}

.about .timing .text h4 {
  color: gray;
  font-weight: 400;
  font-size: 15px;
}

.about .timing span {
  color: white;
  font-size: 15px;
  display: block;
}

.timing {
  width: 33%;
  background-image: url(../images/brush-big.jpg);
  padding: 22px;
}

.icon-cut {
  width: 50px;
}

.experience {
  width: 66%;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 40px 20px;
}

.timing h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
  margin: 0 auto 30px auto;
  font-size: 30px;
}
